<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - Assessment Of Staff Engagement</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">Assessment Of Staff Engagement</h4>            
          </div>          



          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              <% include partials/engagementCard.ejs %>



              <!-- Assessment Card -->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#assessmentCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Assessment</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="assessmentCard">
                  <div class="card-body">
                      <label class="small font-weight-bold" for="auditObjective">Audit Objective
                          <input class="form-control form-control-sm" type="text" id="auditObjective" name="auditObjective">
                      </label>
                      <br>                    
                      
                      <label class="small font-weight-bold" for="auditApproach">Audit Approach
                          <textarea class="form-control form-control-sm" id="auditApproach" name="auditApproach" cols="110" rows="10"></textarea>
                      </label>                                           
                  </div>
                </div>
              </div>



              <!-- Resources Card -->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#resourcesCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Resources</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="resourcesCard">

                  <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Understanding of, & Practical Experience with, Engagements of a Similar Nature & Complexity Through Appropriate Training & Participation</th>
                              <th>Understanding of Professional Standards and Regulatory and Legal Requirements</th>
                              <th>Appropriate Technical Knowledge, Including Knowledge of Relevant Information Technology</th>
                              <th>Knowledge of Relevant Industries in which the Client Operates</th>
                              <th>Ability to Apply Professional Judgment</th>
                              <th>Understanding of the Firm’s Quality Control Policies and Procedures</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th>Name</th>
                              <th>Understanding of, & Practical Experience with, Engagements of a Similar Nature & Complexity Through Appropriate Training & Participation</th>
                              <th>Understanding of Professional Standards and Regulatory and Legal Requirements</th>
                              <th>Appropriate Technical Knowledge, Including Knowledge of Relevant Information Technology</th>
                              <th>Knowledge of Relevant Industries in which the Client Operates</th>
                              <th>Ability to Apply Professional Judgment</th>
                              <th>Understanding of the Firm’s Quality Control Policies and Procedures</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr>
                              <td>
                                  <div class="dropdown mb-4">
                                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuResources" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Name
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Bernard Matamba</a>
                                        <a class="dropdown-item" href="#">Tonderai Sabvure</a>
                                        <a class="dropdown-item" href="#">Nesbert Fiyanda</a>
                                        <a class="dropdown-item" href="#">Annah Magombera</a>
                                        <a class="dropdown-item" href="#">Audious Mazowe</a>
                                        <a class="dropdown-item" href="#">Passmore Gweme</a>
                                        <a class="dropdown-item" href="#">Evelyn Masundire</a>
                                        <a class="dropdown-item" href="#">Tinashe Vhere</a>
                                        <a class="dropdown-item" href="#">Fadzai Jemwa</a>
                                        <a class="dropdown-item" href="#">Sibusiso Ncube </a>
                                        <a class="dropdown-item" href="#">Gabriel Chimunhu</a>
                                      </div>
                                    </div>
                              </td>
                              <td>Bernard  is the managing partner and a Public certified chartered accountant. The firm has a number of clients who operate in a similar industry. He has more than 38 years </td>
                              <td>Bernard is a qualified CA(Z) giving him an understanding of professional standards and regulatory and legal requirements.</td>
                              <td>Bernard is a chartered accountant (ICAZ) and attents regular inhouse and external training sessions</td>
                              <td>Bernard has worked on engagements that have a similar nature to the client.</td>
                              <td>Bernard has extensive articles and post articles experience that has shown his ability to apply professional judgement.</td>
                              <td>Bernard has an understanding of the firms quality control policies and procedures. He has contributed greatly in the formulation of the firm's quality control policies.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </div>


              <!-- Conclusion Card -->
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Conclusion:</h6>
                  </div>
                  <div class="card-body">
                      In signing the above, the audit partner confirms that the team assigned to the audit have the required expertise, experience and professionalism to performed their duties and to ensure an efficient and compliant audit,
                  </div>
                </div>

              
              <button class="btn btn-info btn-long">Submit</button>
              <button class="btn btn-secondary btn-long">Cancel</button>

            </div>
            
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
