<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - 10.08A - Discussion Among Audit Team</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------10.08A - Discussion Among Audit Team------</h4>            
          </div>          


          <form action="/planning/discussion-among-audit-team/:user" method="POST">
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              
                <% include partials/engagementCard.ejs %>

              <!-- Additional Engagement Card-->                
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Meeting Details</h6>
                </div>
                <div class="card-body">
                    
                    <label class="small font-weight-bold" for="engagementPartner">Engagement Partner
                        <input class="form-control form-control-sm" type="text" id="engagementPartner" name="engagementPartner">
                    </label>
                    <label class="small font-weight-bold" for="meetingDate">Date of Meeting
                        <input class="form-control form-control-sm" type="date" id="meetingDate" name="meetingDate">
                    </label>
                    <label class="small font-weight-bold" for="meetingTime">Time of Meeting
                        <input class="form-control form-control-sm" type="time" id="meetingTime" name="meetingTime">
                    </label>
                    
                </div>
              </div>

              <!-- Meeting Attendance Card-->                
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">In Attendance:</h6>
                </div>
                <div class="card-body">
                                      
                    <label class="small font-weight-bold" for="manager">Manager:
                        <input class="form-control form-control-sm" type="text" id="manager" name="manager">
                    </label>
                    <label class="small font-weight-bold" for="senior">Senior:
                        <input class="form-control form-control-sm" type="text" id="senior" name="senior">
                    </label>                   
                    <label class="small font-weight-bold" for="junior">Junior:
                        <input class="form-control form-control-sm" type="text" id="junior" name="junior">
                    </label>
                    <label class="small font-weight-bold" for="junior2">Junior:
                        <input class="form-control form-control-sm" type="text" id="junior2" name="junior2">
                    </label><br>
                    <label class="small font-weight-bold" for="junior3">Junior:
                        <input class="form-control form-control-sm" type="text" id="junior3" name="junior3">
                    </label>
                    <label class="small font-weight-bold" for="junior4">Junior:
                        <input class="form-control form-control-sm" type="text" id="junior4" name="junior4">
                    </label>
                    
                </div>
              </div>            


              <!--Discussion Points Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#discussionPointsCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">DISCUSSION POINTS</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="discussionPointsCard">

                  <div class="card-body">                 

                    Update on audit progress:
                    <br>
                    <textarea class="form-control form-control-sm" id="updateOnAuditProgress" cols="150" rows="8"></textarea>
                    <br><br>

                    Independence
                    <br>
                    <textarea class="form-control form-control-sm" id="independence" cols="150" rows="8"></textarea>
                    <br><br>

                    Review of work:
                    <br>
                    <textarea class="form-control form-control-sm" id="reviewOfWork" cols="150" rows="8"></textarea>
                    <br><br>

                    Fraud and error considerations:
                    <br>
                    <textarea class="form-control form-control-sm" id="fraud" cols="150" rows="8"></textarea>
                    <br><br>

                    Sample selection:
                    <br>
                    <textarea class="form-control form-control-sm" id="sampleSelection" cols="150" rows="8"></textarea>
                    <br><br>

                    Any other issues brought by the audit team:
                    <br>
                    <textarea class="form-control form-control-sm" id="anyOtherIssues" cols="150" rows="8"></textarea>

                  </div>
                </div>
              </div>
             



              <button class="btn btn-info btn-long" type="submit">Submit</button>
              <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>

            </div>
            
          </div>
          </form>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

  <!--Script to get today's date-->
  <script>
    var field = document.querySelector('#today');
    var date = new Date();

    // Set the date
    field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) + '-' + date.getDate().toString().padStart(2, 0);
  </script>

</body>

</html>
