<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - 02.20 - Going Concern</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------02.20 - Going Concern------</h4>            
          </div>          


          <form action="/planning/going-concern/:user" method="POST">
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              
                <% include partials/engagementCard.ejs %>
                
              <!--Going Concern Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#goingConcernCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">GOING CONCERN</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="goingConcernCard">

                  <div class="card-body">
                    <b>Objective:</b>
                    <br>
                    To obtain sufficient appropriate evidence regarding the appropriateness of management's going concern assumption, and to conclude based on the evidence obtained, whether a material uncertainty exist related to events or conditions that may cast significant doubt on the entity's ability to continue as a going concern.                                 
                    <br><br>

                    <div class="table-responsive">
                        <table class="table table-bordered" id="goingConcernTable" width="100%" cellspacing="0">
                            <thead class="table-header-row">
                              <tr>
                                <th>Procedure</th>
                                <th>Does material uncertainty exist</th>
                                <th>Comment(Mitigation factors are disclosed on WP <span class="user-text-red"><02.20A></span>)</th>
                              </tr>
                            </thead>
                          <tbody>
                            <tr>
                              <td>
                                1. Obtain management's assessment of events or conditions that cast significant doubt on the entity's ability to continue as a going concern. Evaluate the management's going concern assessment.
                              </td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>                              
                            </tr>
                            <tr>
                              <td>
                                2. Consider whether any adverse events/conditions have been identified as a result of performing other risk assessment procedures. Consider the following:
                              </td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                            </tr>
                            <tr>
                              <td>
                                a. Financing/cash flow challenges including:
                              </td>
                              <td contenteditable="false" class="uneditable-cell"></td>
                              <td contenteditable="false" class="uneditable-cell"></td>
                            </tr>
                            <tr>
                              <td>
                                ∙ Insufficient equity or working capital (net liability or net current liability position).
                              </td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                            </tr>
                            <tr>
                              <td>
                                ∙ Inability to obtain or refinance borrowings.
                              </td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                            </tr>
                            <tr>
                              <td>
                                ∙ Indications of withdrawal of financial support by creditors or owners.
                              </td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Negative operating cash flows indicated by historical or prospective F/S.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Inability to pay creditors on due dates.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Inability to comply with the terms of loan agreements.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    b. Adverse market conditions, trends or events including:
                                </td>
                                <td contenteditable="false" class="uneditable-cell"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Management intentions to liquidate the entity or to cease operations.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Loss of key management or employees without replacement.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Loss of a major market, key customer(s), franchise, license, or principal supplier(s).
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Emergence of a highly successful competitor.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Substantial operating losses or significant deterioration in the value of assets used to generate cash flows.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    c. Regulatory or legal challenges including:
                                </td>
                                <td contenteditable="false" class="uneditable-cell"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Pending legal or regulatory proceedings against the entity.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Changes in law or regulation or government policy expected to adversely affect the entity.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>
                            <tr>
                                <td>
                                    ∙ Non-compliance with capital or other statutory requirements.
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                            </tr>

                          </tbody>
                          <br><br>

                        </table>
                      </div>
                      <br><br>
                      <label class="small font-weight-bold" for="assessmentPeriod">---------------------------------------------------Assessment Period--------------------------------------------------
                      <input class="form-control form-control-sm" type="text" id="assessmentPeriod" name="assessmentPeriod" placeholder="State Management Assessment Period e.g. The management assessment was for at least 12 months">
                      </label>  

                  </div>
                </div>
              </div>
              
               <!-- Conclusion Card -->
               <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Conclusion:</h6>
                  </div>
                  <div class="card-body">
                    <textarea class="form-control form-control-sm" id="goingConcernConclusion" name="goingConcernConclusion" placeholder="State conclusion" rows="4"></textarea>
                  </div>
                </div>


              <button class="btn btn-info btn-long" type="submit">Submit</button>
              <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>

            </div>
            
          </div>
          </form>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
