<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - 23.40B - Intangible Assets-Existence R&O</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------23.40B - Intangible Assets(Existence R&O)------</h4>            
          </div>          


          <form action="/field-work/intangible-assets-b/:user" method="POST">
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              <% include partials/engagementCard.ejs %>


              <!--Intangible Assets Card-->
              <div class="card shadow mb-4">

                    <!-- Card Header - Accordion -->
                    <a href="#intangibleAssetsCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">INTANGIBLE ASSET - EXISTENCE/RIGHTS AND OBLIGATIONS/VALUATION</h6>
                    </a>
    
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="intangibleAssetsCard">
    
                      <div class="card-body">
                        <b>Objective:</b>
                        <br>
                        To verify the existence, rights and obligations and valuation of Intangible Assets
                        <br><br>
                        <b>Audit Approach:</b>
                        <br>
                        Select material intangible assets from the ledger or asset register and:
                        <br>
                        (a) Confirm existence by following them through to the documentary evidence or other proof;
                        <br>
                        (b) Ensure that all intangible assets are carried at cost less accumulated amortisation and impairment (SME18.18);
                        <br>
                        (c) Ensure that all assets are derecognised when disposed of or when no future economic benefits are expected from its use or disposal (SME18.26);
                        <br>
                        (d) Ensure that the client is the beneficial owner of the assets with reference to registration documents. etc;
                        <br>
                        (e) Recalculate amortisation for the material intangible assets identified.
                        <br><br><br>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered" id="assetTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                      <th>Asset Description</th>
                                      <th>Cost per Client register</th>
                                      <th>Existence Verified?</th>
                                      <th>Beneficial Owner?</th>
                                      <th>Classification as Intangible correct?</th>                                      
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                        Client list
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width" type="text" id="clientListCostPer" value="1,000,000.00">
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="clientListExistenceVerified" value="√">                                      
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="clientListBeneficialOwner" value="√">                                      
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="clientListClassification" value="√">                                      
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                            <br><br>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered" id="amortisationTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <b>AMORTISATION</b>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                          <th>Useful life</th>
                                          <th>Amortisation recalculated</th>
                                          <th>Amortisation per GL</th>
                                          <th>Difference</th>                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                            <input class="user-form-control-fixed-width" type="text" id="usefulLife">
                                        </td>
                                        <td>
                                            <input class="user-form-control-fixed-width" type="text" id="amortisationRecalculated">
                                        </td>
                                        <td>
                                            <input class="user-form-control-fixed-width" type="text" id="amortisationPerGL">                                      
                                        </td>
                                        <td>
                                            <input class="user-form-control-fixed-width" type="text" id="amortisationDifference">
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                      </div>
                    </div>
                  </div>


              <b>Key to ticks</b><br>
              √ - Procedure performed without exception<br>
              x - Procedure performed with exception
              <br><br>

              <!-- Conclusion Card -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Conclusion:</h6>
                </div>
                <div class="card-body">
                    No exceptions found in procedures performed. Based on the audit work performed above, in our opinion, the test objectives have been met.
                </div>
              </div>

              <button class="btn btn-info btn-long" type="submit">Submit</button>
              <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>

            </div>
            
          </div>
          </form>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
