<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - 23.40A - Intangible Assets-Movement Schedule</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------23.40A - Intangible Assets(Movement Schedule)------</h4>            
          </div>          


          <form action="/field-work/intangible-assets-a/:user" method="POST">
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              <% include partials/engagementCard.ejs %>


              <!--Intangible Assets Card-->
              <div class="card shadow mb-4">

                    <!-- Card Header - Accordion -->
                    <a href="#intangibleAssetsCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">INTANGIBLE ASSETS</h6>
                    </a>
    
                    <!-- Card Content - Collapse -->
                    <div class="collapse" id="intangibleAssetsCard">
    
                      <div class="card-body">
                        <b>Objective:</b>
                        <br>
                        To ensure that the intangible asset balance and amortization is reasonable.
                        <br><br>
                        <b>Audit Approach:</b>
                        <br>
                        Obtain a list of intangible assets at year end, with comparative figures, if applicable, for the previous year and:
                        <br>
                        (a) Agree comparative figures with the previous year’s working papers and financial statements;
                        <br>
                        (b) Review the list and investigate unusual items;
                        <br>
                        (c) Agree the list to the asset register, trial balance and / or control accounts;
                        <br>
                        (d) Reperform selected casts and calculations to ensure numerical accuracy of the list;
                        <br>
                        (e) Compare items per category with previous years and obtain reasons for unusual changes.
                        <br><br><br>
                        
                        <div class="table-responsive">
                            <table class="table table-bordered" id="additionsTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                      <th>Factor</th>
                                      <th>Amount</th>
                                      <th>WP Reference</th>                                      
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                        Overall Materiality
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width" type="text" id="overallMaterialityAmount" value="100,000.00">
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="overallMaterialityWPRef" value="10.16">                                      
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        Significant Risk performance materiality
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width" type="text" id="significantRiskPerfMaterialityAmount" value="70,000.00">
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="significantRiskPerfMaterialityWPRef" value="10.16">                                      
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        Non Significant Risk performance materiality
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width" type="text" id="nonSignificantRiskPerfMaterialityAmount" value="85,000.00">
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="nonSignificantRiskPerfMaterialityWPRef" value="10.16">                                      
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        Clearly trivial
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width" type="text" id="clearlyTrivialAmount" value="5,000.00">
                                    </td>
                                    <td>
                                        <input class="user-form-control-fixed-width-red" type="text" id="clearlyTrivialWPRef" value="10.16">                                      
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                            <br><br>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered" id="additionsTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                          <th>-</th>
                                          <th>2018</th>
                                          <th>WP Reference</th>
                                          <th>2017</th>                                      
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                          Intangible assets per AFS:
                                        </td>
                                        <td>
                                            <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsPerAFS2018">
                                        </td>
                                        <td>
                                            <input class="user-form-control-fixed-width-red" type="text" id="intangibleAssetsPerAFSWPRef">                                      
                                        </td>
                                        <td>
                                            <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsPerAFS2017">
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                      </div>
                    </div>
                  </div>

              <!--Cost Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#costCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">COST</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="costCard">

                  <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="costTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>Description</th>
                                <th>Opening Balance</th>
                                <th>Additions</th>
                                <th>Disposals</th>
                                <th>Closing Balance</th>
                                <th>Balance per TB</th>
                                <th>Difference</th>
                                <th>Ref</th>                                
                              </tr>
                            </thead>
                          <tbody>
                            <tr>
                              <td>
                                  Intangible Assets
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsOpeningBal" value="2,000,000.00">                                
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsAdditions" value="2,000,000.00">
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsDisposals" value="2,000,000.00">
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsClosingBal" value="2,000,000.00">
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsBalPerTB" value="2,000,000.00">
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsDiff" value="2,000,000.00">
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsRef" value="2,000,000.00">
                              </td>          
                            </tr>
                            <tr>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Totals</b>
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsOpeningBalTot" value="2,000,000.00">                                
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsAdditionsTot" value="2,000,000.00">
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsDisposalsTot" value="2,000,000.00">
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsClosingBalTot" value="2,000,000.00">
                                </td>
                                <td>
                                    <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsBalPerTBTot" value="2,000,000.00">
                                </td>
                                <td>
                                    <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsDiffTot" value="2,000,000.00">
                                </td>
                                <td>
                                    <input class="user-form-control-fixed-width" type="text" id="intangibleAssetsRefTot" value="2,000,000.00">
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </div> 
                  </div>
                </div>
              </div>

              <!-- Accumulated Amortisation Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#accumulatedAmortisationCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">ACCUMULATED AMORTISATION</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="accumulatedAmortisationCard">

                  <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-bordered" id="accumulatedAmortisationTable" width="100%" cellspacing="0">
                            <thead>
                              <tr>
                                <th>Description</th>
                                <th>Opening Balance</th>
                                <th>Additions</th>
                                <th>Disposals</th>
                                <th>Closing Balance</th>
                                <th>Balance per TB</th>
                                <th>Difference</th>
                                <th>Ref</th>                                
                              </tr>
                            </thead>
                          <tbody>
                            <tr>
                              <td>
                                  Intangible Assets
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsOpeningBal" value="2,000,000.00">                                
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsAdditions" value="2,000,000.00">
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsDisposals" value="2,000,000.00">
                              </td>
                              <td>
                                <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsClosingBal" value="2,000,000.00">
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsBalPerTB" value="2,000,000.00">
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsDiff" value="2,000,000.00">
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsRef" value="2,000,000.00">
                              </td>          
                            </tr>
                            <tr>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                            </tr>
                            <tr>
                              <td>
                                <b>Totals</b>
                              </td>
                              <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsOpeningBalTot" value="2,000,000.00">                                
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsAdditionsTot" value="2,000,000.00">
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsDisposalsTot" value="2,000,000.00">
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsClosingBalTot" value="2,000,000.00">
                                </td>
                                <td>
                                    <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsBalPerTBTot" value="2,000,000.00">
                                </td>
                                <td>
                                    <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsDiffTot" value="2,000,000.00">
                                </td>
                                <td>
                                    <input class="user-form-control-fixed-width" type="text" id="accumulatedIntangibleAssetsRefTot" value="2,000,000.00">
                                </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <br><br>

                      <label class="small font-weight-bold" for="amortisationPerGeneralLedger">Amortisation per the general ledger:
                        <input class="user-form-control-fixed-width" type="text" id="amortisationPerGeneralLedger" value="250,000.00">
                      </label>
                      <br>
                      <label class="small font-weight-bold" for="amortisationPerGeneralLedgerWPRef">WP Ref:
                        <input class="user-form-control-fixed-width-red" type="text" id="amortisationPerGeneralLedgerWPRef" value="23.35">                                
                      </label>
                      <br><br>
                      <label class="small font-weight-bold" for="amortisationDiff">WP Ref:
                        <input class="user-form-control-fixed-width" type="text" id="amortisationDiff" value="10,000.00">                                
                      </label>
                  </div>
                </div>
              </div>


              <!-- Net Book Value Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#netBookValueCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">NET BOOK VALUE</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="netBookValueCard">

                  <div class="card-body">                
                      <div class="table-responsive">
                          <table class="table table-bordered" id="netBookValueTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Description</th>
                                  <th>Opening NBV</th>                                  
                                  <th>Closing NBV</th>                                
                                </tr>
                              </thead>
                            <tbody>
                              <tr>
                                <td>
                                    Intangible Assets
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="openingNBV" value="2,000,000.00">                                
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="closingNBV" value="2,000,000.00">
                                </td>          
                              </tr>
                              <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>                                
                              </tr>
                              <tr>
                                <td>
                                  <b>Totals</b>
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="openingNBVTot" value="2,000,000.00">                                
                                </td>
                                <td>
                                  <input class="user-form-control-fixed-width" type="text" id="closingNBVTot" value="2,000,000.00">
                                </td>                                                                  
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <label class="small font-weight-bold" for="agreesComment">-
                          <input class="user-form-control-fixed-width-green" type="text" id="agreesComment" value="B py afs">
                        </label>
                        <br>
                        <label class="small font-weight-bold" for="NBVPRef">WP Ref:
                          <input class="user-form-control-fixed-width-red" type="text" id="NBVPRef" value="23.35">                                
                        </label>

                  </div>
                </div>
              </div>


              <!-- intangible Asset Proof Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#intangibleAssetProofCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">INTANGIBLE ASSET PROOF</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="intangibleAssetProofCard">

                  <div class="card-body">                    
                    <label class="small font-weight-bold" for="nbvBOY">Net book value BOY
                        <input class="form-control form-control-sm" type="text" id="nbvBOY" name="nbvBOY">
                    </label>
                    <br>
                    <label class="small font-weight-bold" for="lessAmortisation">Less: Amortisation
                        <input class="form-control form-control-sm" type="text" id="lessAmortisation" name="lessAmortisation">
                    </label>
                    <br>
                    <label class="small font-weight-bold" for="addAdditions">Add: Additions
                        <input class="form-control form-control-sm" type="text" id="addAdditions" name="addAdditions">
                    </label>
                    <br>
                    <label class="small font-weight-bold" for="lessDisposals">Less: Disposals
                        <input class="form-control form-control-sm" type="text" id="lessDisposals" name="lessDisposals">
                    </label>
                    <br>
                    <label class="small font-weight-bold" for="closingNetBookVal">Closing Net Book Value At End Of Year
                        <input class="form-control form-control-sm" type="text" id="closingNetBookVal" name="closingNetBookVal">
                    </label>
                    <br><br>
                    <label class="small font-weight-bold" for="perLeadsheet"><b>PER LEADSHEET</b>
                        <input class="form-control form-control-sm" type="text" id="perLeadsheet" name="perLeadsheet">
                    </label>
                    <br>
                    <label class="small font-weight-bold" for="diff">Diff
                        <input class="form-control form-control-sm" type="text" id="diff" name="diff">
                    </label>
                  </div>
                </div>
              </div>

              <b>Key to ticks</b><br>
              B py afs - Balance agrees to prior year financial statement<br>
              ^ - Casts
              <br><br>

              <!-- Conclusion Card -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Conclusion:</h6>
                </div>
                <div class="card-body">
                  No exceptions found in procedures performed. Based on the audit work performed above, in our opinion, the test objectives have been met.
                </div>
              </div>

              <button class="btn btn-info btn-long" type="submit">Submit</button>
              <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>

            </div>
            
          </div>
          </form>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
