<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Audit v2.3.1 - 10.12 - Work and Time Allocation</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom specific styles -->
  <link href="/css/audit-user-defined.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <% include partials/nav.ejs %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <% include partials/top-nav.ejs %>

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="m-0 font-weight-bold text-primary">------10.12 - Work and Time Allocation------</h4>            
          </div>          


          <form action="/planning/work-and-time-allocation/:user" method="POST">
            <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Engagement details Card -->
              
                <% include partials/engagementCard.ejs %>

                <!-- Team Members Card-->                
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Team</h6>
                </div>
                <div class="card-body">                    

                    <label class="small font-weight-bold" for="teamMembers">Team Members
                        <textarea class="form-control form-control-sm" id="teamMembers" name="teamMembers" cols="24" rows="6"></textarea>
                    </label>
                </div>
              </div>    
                
              <!--Detailed Time and Work Card-->
              <div class="card shadow mb-4">

                <!-- Card Header - Accordion -->
                <a href="#detailedTimeAndWorkCard" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">DETAILED TIME AND WORK ALLOCATION</h6>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse" id="detailedTimeAndWorkCard">

                  <div class="card-body">
                   
                    <div class="table-responsive">
                        <table class="table table-bordered" id="detailedTime" width="100%" cellspacing="0">
                            <thead class="table-header-row">
                              <tr>
                                <th>-</th>
                                <th>Senior Partner</th>
                                <th>Junior Partner</th>
                                <th>Senior Audit Manager</th>
                                <th>Junior Audit Manager</th>
                                <th>Senior</th>
                                <th>Intermediate</th>
                                <th>Junior</th>
                                <th>Totals</th>
                              </tr>
                            </thead>
                          <tbody>
                            <tr>
                              <td>
                                PLANNING
                              </td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  FINALISATION
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  PROPERTY, PLANT AND EQUIPMENT
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  INTANGIBLE ASSETS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  GROUP COMPANIES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  OTHER FINANCIAL ASSETS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  OTHER ASSETS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  INVENTORIES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  TRADE AND OTHER RECEIVABLES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  CASH AND CASH EQUIVALENTS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  CAPITAL AND RESERVES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  OTHER FINANCIAL LIABILITIES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  TAXATION
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  TRADE AND OTHER PAYABLES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  PROVISIONS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  REVENUE
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  INVESTMENT AND FINANCIAL INCOME
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  COST OF SALES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  OTHER INCOME
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  EMPLOYEE COSTS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  GENERAL EXPENSES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  FINANCE COSTS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  RELATED  PARTIES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  COMMITMENTS AND CONTINGENCIES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  ACCOUNTING RECORDS
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  OPENING BALANCES
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  FINANCIAL STATEMENT PREPARATION
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  FILE REVIEW
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr>
                                <td>
                                  OTHER
                                </td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="true"></td>
                                <td contenteditable="false" class="uneditable-cell"></td>                              
                            </tr>
                            <tr></tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Hourly rate</td>
                                <td>2,300.00</td>
                                <td>1,900.00</td>
                                <td>1,050.00</td>
                                <td>850.00</td>
                                <td>625.00</td>
                                <td>425.00</td>
                                <td>325.00</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Total charge</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>       

                          </tbody>
                          <br><br>

                        </table>
                      </div>                      

                  </div>
                </div>
              </div>

              <button class="btn btn-info btn-long" type="submit">Submit</button>
              <button class="btn btn-secondary btn-long" type="reset">Reset All Fields</button>

            </div>
            
          </div>
          </form>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <% include partials/footer.ejs %>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Confirm Modal-->
  <div class="modal fade" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Client Acceptance Creation Success</h3>
        </div>
        <div class="modal-body">
          <p>Client successfully created!</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">End Session?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
